.form__group{
    position:relative;
}

.form__label{
    position:absolute;
    top:10px;
    left:8px;
    font-size:0.6rem;
    font-weight:300;
    color:var(--tertiary-color-shade-1);
}

.form__control{
    padding:0.5rem;
    padding-top:0.8rem;
    width:93.5%;
    border:1px solid var(--tertiary-color);
    margin-top:0.5rem;
    border-radius:2px;
    font-size:0.8rem;
    background:var(--primary-color);
    transition:all 0.5s linear;
}

.form__control:focus{
    outline:none;
    border:1px solid var(--tertiary-color-shade-1);
}

.form__label{
    position:absolute;
    color:var(--tertiary-color-shade-1);
    top:0;
    left:9px;
    font-size:0.6rem;
    transform: translateY(10px);
    animation: gototop 0.1s 1 linear;
}

@keyframes gototop{
    from{
        transform: translateY(20px);
    }
    to {
        transform: translateY(10px);
    }
}

.submit__btn{
    margin:1rem 0;
    padding:0.5rem;
    background:var(--primary-btn-color);
    color:var(--secondary-color);
    font-weight:700;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.submit__btn:disabled{
    background:var(--primary-btn-disabled-color);
    cursor:default;
}